<div class="date-time-select">
  <style>
    .date-time-select select {
      width: 100px;
      float: none;
      display: inline-block;
      margin: 5px 0;
      background: none;
    }
  </style>
  <%= f.label field.attribute %>
  <%= f.datetime_select field.attribute %>
</div>
